{% extends "base.html" %} 

{% block content %}
<div class="row mt-5">
    <div class="col-md-4">
        <div class="card text-white mb-3 bg-danger" style="max-width: 20rem;">
            <div class="card-header">Sensores</div>
            <div class="card-body">
                <h4 class="card-title"><i class="fa fa-thermometer-empty"></i> Temperatura</h4>
                <p class="card-text">La temperatura ambiente del jardín</p>
                {% if temp %}
                    <div class="alert alert-primary">
                        
                    </div>                    
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white mb-3 bg-primary" style="max-width: 20rem;">
            <div class="card-header">Sensores</div>
            <div class="card-body">
                <h4 class="card-title"><i class="fa fa-tint"></i> Humedad</h4>
                <p class="card-text">El nivel de humedad del suelo</p>
                <div class="alert alert-info">
                    <h3 class="alert-heading">Aún no lo calibro jeje</h3>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}